## Machine Learning

In [65]:
# Salaray prediction
import pandas as pd
from sklearn.linear_model import LinearRegression

In [66]:
df = pd.read_csv('data/Salary_Data.csv')
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [67]:
df.shape

(6704, 6)

In [68]:
df.iloc[6703]

Age                               26.0
Gender                          Female
Education Level            High School
Job Title              Sales Executive
Years of Experience                1.0
Salary                         35000.0
Name: 6703, dtype: object

In [69]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [70]:
df.shape

(6704, 6)

In [71]:
df.isna().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [72]:
df.dropna(inplace=True, axis=0)
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [73]:
df[['Education Level']].value_counts()

Education Level
Bachelor's Degree    2265
Master's Degree      1572
PhD                  1368
Bachelor's            756
High School           448
Master's              288
phD                     1
Name: count, dtype: int64

In [74]:
df['Education Level'] = df['Education Level'].replace({
    "High School": 1,
    "Bachelor's Degree": 2,
    "Bachelor's": 2,
    "Master's Degree": 3,
    "Master's": 3,
    "PhD": 4,
    "phD": 4
})

/var/folders/z6/szh1pvgx3z1f80q6xbtc8m2c0000gn/T/ipykernel_93077/1066888215.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Education Level'] = df['Education Level'].replace({

In [75]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,2,Software Engineer,5.0,90000.0
1,28.0,Female,3,Data Analyst,3.0,65000.0
2,45.0,Male,4,Senior Manager,15.0,150000.0
3,36.0,Female,2,Sales Associate,7.0,60000.0
4,52.0,Male,3,Director,20.0,200000.0

In [76]:
df.isna().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [77]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,2,Software Engineer,5.0,90000.0
1,28.0,Female,3,Data Analyst,3.0,65000.0
2,45.0,Male,4,Senior Manager,15.0,150000.0
3,36.0,Female,2,Sales Associate,7.0,60000.0
4,52.0,Male,3,Director,20.0,200000.0

In [78]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [79]:
numeric_cols = ["Age", "Years of Experience"]
categorical_cols = ["Gender", "Job Title"]
df_numeric = df[numeric_cols]
df_categorical = df[categorical_cols]
df_numeric.head()

    Age  Years of Experience
0  32.0                  5.0
1  28.0                  3.0
2  45.0                 15.0
3  36.0                  7.0
4  52.0                 20.0

In [80]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,2,Software Engineer,5.0,90000.0
1,28.0,Female,3,Data Analyst,3.0,65000.0
2,45.0,Male,4,Senior Manager,15.0,150000.0
3,36.0,Female,2,Sales Associate,7.0,60000.0
4,52.0,Male,3,Director,20.0,200000.0

In [82]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [96]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoder.fit(df[['Gender']])

encoder.transform(df[['Gender']])

<6698x3 sparse matrix of type '<class 'numpy.float64'>'
	with 6698 stored elements in Compressed Sparse Row format>

In [ ]:
df_categorical.head()

   Gender          Job Title
0    Male  Software Engineer
1  Female       Data Analyst
2    Male     Senior Manager
3  Female    Sales Associate
4    Male           Director

In [ ]:
df.isna().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [ ]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,2,Software Engineer,5.0,90000.0
1,28.0,Female,3,Data Analyst,3.0,65000.0
2,45.0,Male,4,Senior Manager,15.0,150000.0
3,36.0,Female,2,Sales Associate,7.0,60000.0
4,52.0,Male,3,Director,20.0,200000.0

In [ ]:
X = df.drop(columns=["Salary"], axis=1)
Y = df[["Salary"]]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.2, random_state=15) # random_state=15 sets the seed to same values on each iteration

print(f"{X_train.shape}, {y_train.shape}")

(5358, 196), (5358, 1)

In [ ]:
y_train.isna().sum()

Salary    0
dtype: int64

In [ ]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [ ]:
X_test.head()

,Age,Years of Experience,Gender_Female,Gender_Male,Gender_Other,Job Title_Account Manager,Job Title_Accountant,Job Title_Administrative Assistant,Job Title_Back end Developer,Job Title_Business Analyst,...,Job Title_Supply Chain Manager,Job Title_Technical Recruiter,Job Title_Technical Support Specialist,Job Title_Technical Writer,Job Title_Training Specialist,Job Title_UX Designer,Job Title_UX Researcher,Job Title_VP of Finance,Job Title_VP of Operations,Job Title_Web Developer
714,30.0,5.0,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3303,23.0,1.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1991,33.0,6.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3911,27.0,3.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2249,43.0,14.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
predictions = lr_model.predict(X_test)
predictions

array([[125100.24979295],
       [ 95039.43718833],
       [113523.47515449],
       ...,
       [ 81720.05867448],
       [118716.23815797],
       [176480.90088472]])

In [ ]:
from sklearn.metrics import mean_squared_error, root_mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

def calculate_error(y_test, predictions):
    mse = mean_squared_error(y_test, predictions)
    rmse = root_mean_squared_error(y_test, predictions)
    mae = mean_absolute_error(y_test, predictions)
    mape = mean_absolute_percentage_error(y_test, predictions)

    print(f"MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAE: {mae:.4f}, MAPE: {mape:.4f}")
    return mse, rmse, mae, mape

In [ ]:
# raw_errors = calculate_error(y_test, predictions)
preproessed_errors = calculate_error(y_test, predictions)

MSE: 453739319.0094, RMSE: 21301.1577, MAE: 15677.3952, MAPE: 0.1487

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

In [ ]:
lr_model.predict(test_data.values)

NameError: name 'test_data' is not defined